# Jellyfin app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname / domain (used as the published server URL)
BASE_HOST_NAME=myhostname
BASE_DOMAIN_NAME=example.com
