# nginx proxy address - http://172.17.0.1:8096

x-logging: &default-logging
  driver: json-file
  options:
    max-size: "5m"
    max-file: "1"

services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin-app
    restart: unless-stopped
    logging: *default-logging
    networks:
      - jellyfin
    ports:
      - "8096:8096"
    environment:
      TZ: ${TZ:-America/New_York}
      JELLYFIN_PublishedServerUrl: ${BASE_DOMAIN_NAME:-${BASE_HOST_NAME:-localhost}}
    volumes:
      - ./rootfs/config/jellyfin:/config
      - ./rootfs/data/jellyfin:/cache
      - ./rootfs/data/media/movies:/media/movies:ro
      - ./rootfs/data/media/tv:/media/tv:ro
      - ./rootfs/data/media/music:/media/music:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8096/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  jellyfin:
    external: false
